.mask{
    padding: 0;
    margin: 0;
    font-family: "Microsoft JhengHei UI Light","Noto Sans CJK TC Light","Microsoft YaHei UI Light","","Microsoft JhengHei",sans-serif;
}
.disable
{
    opacity: 0.35;
}
/*基本共用設定區*/
/*字體大小 粗細*/
/*標題*/
a{font-weight: normal;
    text-decoration: none;}
.title
{
    font-size: 60px;
}
.content
{
    font-size: 32px;
}
/*內容*/
.content
{
    text-align: center;
}
.article *
{
    margin-bottom:20px;
}
.article a>img
{
    margin-bottom: 0px;
}
/*遮罩*/
.mask
{
    display: flex;
    justify-content: center;
    width:680px;
    height:100%;
    position: relative;
    align-items:center;
    text-align: center;
}
/*右遮罩*/
.right.mask
{
    position: absolute;
    right:55px;
}
/*左遮罩*/
.left.mask
{
    margin-left: 55px;
}
.feature,.footer .article,#main.article
{
    position: relative;
    width:100%;
    height: 710px;
}
/*色彩主題區*/
.light 
{
    color:rgb(51,51,51);
}
.light .title
{
    color:rgb(07,55,99);
}

.light .button
{
    color:rgb(51,51,51);
    border-color:rgb(51,51,51);
}
.light .mask
{
    background-color: rgba(255,255,255,0.75);
}
/*暗色*/
.dark
{
    color:rgb(204,204,204);
}
.dark .title
{
    color:rgb(159,197,248);
}
.dark .button
{
    color:rgb(204,204,204);
    border-color:rgb(204,204,204);
}
.dark .mask
{
    background-color: rgba(0,0,0,0.25);
    
}
body
{
    margin:0;
    background-color: black;
}
.hide
{
    display: none;
}

.webLinksContainer button
{
    display: inline-block;
}
.webLinksContainer
{
    position: fixed;
    display: inline-block;
    z-index: 200;
    top:3px;
    left:3px;
    margin-right: -3px;
}
.webLinksContainer > *
{
    margin-right: 3px;
}
.webLinks, .webLinks > img
{
    width:64px;
    height: 64px;
    transition:all 0.5s;
    cursor: default;
}

.webLinks:hover,.webLinks > img:hover
{
    transform: scale(1.5);
}
.wButton
{
    font-size: 1em;
    line-height: 1.5em;
    user-select: none;
    padding:1px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition:all 0.2s;
    width:max-content;
    color:rgb(204,204,204);
    border-color:rgb(204,204,204);
    background-color: rgba(0,0,0,0.75);
}
.wButton:hover
{
    border-color:rgb(51,51,51);
    background-color:rgb(159,197,248);
    color:rgb(51,51,51);
}
.wButton:active
{
    border-color: rgb(204,204,204);
    background-color:rgb(07,55,99);
    color:rgb(204,204,204);
}

.coverContent
{
    background-color: azure;
    width:100%;
    height: 710px;
    position: fixed;
    top:calc((100% - 710px)/2);
    z-index: 30;
}
.coverClose
{
    position: fixed;
    top: calc((100% - 710px)/2);
    right:10px;
    z-index: 31;
}
.coverBackground
{
    content:"";
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 29;
    top:0;
    left:0;
}
.GB{
    display: block;
    position: absolute;
    right: calc(25% - 173.5px);
    top: calc(50% - 287px);
}
.lastPageButton {
    position: absolute;
    left: 0;
    top: calc(50% - 24px);
    background-image: url(https://nawanae.github.io/PokemonWebV2/image/arrows.png);
    background-repeat: no-repeat;
    background-size: 50px 218px;
    background-position: 0 -50px;
    height: 48px;
    width: 48px;
    z-index: 99;
}
.nextPageButton {
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
    background-image: url(https://nawanae.github.io/PokemonWebV2/image/arrows.png);
    background-repeat: no-repeat;
    background-size: 50px 218px;
    background-position: 0 0;
    height: 48px;
    width: 48px;
    z-index: 99;

}
#playHelp[data-page="0"] .key,#playHelp[data-page="1"] .key
{
    display: inline-block;
    position: relative;
}
#playHelp[data-page="0"] .key.left
{
    left:-4em;
}
#playHelp[data-page="0"] .key.right
{
    right: -4em;
}#playHelp[data-page="1"] .key.A
{
    right: -3em;
   
}
#playHelp[data-page="1"] .key.B
{
    left:-3em;
}
#playHelp[data-page="2"] .key
{
    display: inline-block;
    margin-right: 30px;
}
#playHelp[data-page="2"] .pageContent
{
    margin-right: -30px;
}
@media screen and (max-width:990px)
{
    .GB
    {
        display: none;
    }
    .right.mask,.left.mask
    {
        position: relative;
        margin:0 auto;
    }
}
.spinnerContianer
{
    width:100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    background-color: black;
    z-index: 1;
}
.spinner{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin:auto;}

.spinnerText{color:white;font-size: 2em;margin-right: 20px;}
.cssload-loader {
	width: 146px;
	height: 146px;
	line-height: 146px;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 0;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}

.cssload-loader:before,
.cssload-loader:after {
	opacity: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 97px;
	border: 5px solid rgb(255,255,255);
	box-shadow: 0 0 49px rgba(0,0,0,0.44), inset 0 0 49px rgba(130,130,130,0.5);
		-o-box-shadow: 0 0 49px rgba(0,0,0,0.44), inset 0 0 49px rgba(130,130,130,0.5);
		-ms-box-shadow: 0 0 49px rgba(0,0,0,0.44), inset 0 0 49px rgba(130,130,130,0.5);
		-webkit-box-shadow: 0 0 49px rgba(0,0,0,0.44), inset 0 0 49px rgba(130,130,130,0.5);
		-moz-box-shadow: 0 0 49px rgba(0,0,0,0.44), inset 0 0 49px rgba(130,130,130,0.5);
}

.cssload-loader:after {
	z-index: 1;
	animation: cssload-gogoloader 2.3s infinite 1.15s;
		-o-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-ms-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-webkit-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-moz-animation: cssload-gogoloader 2.3s infinite 1.15s;
}

.cssload-loader:before {
	z-index: 2;
	animation: cssload-gogoloader 2.3s infinite;
		-o-animation: cssload-gogoloader 2.3s infinite;
		-ms-animation: cssload-gogoloader 2.3s infinite;
		-webkit-animation: cssload-gogoloader 2.3s infinite;
		-moz-animation: cssload-gogoloader 2.3s infinite;
}



@keyframes cssload-gogoloader {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@-o-keyframes cssload-gogoloader {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 0;
	}
}

@-ms-keyframes cssload-gogoloader {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-gogoloader {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@-moz-keyframes cssload-gogoloader {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0;
	}
}