@font-face {
	font-family:MBitmapSquareHK;
	src: url(../font/MBitmapSquareHK-Light.otf);
}
/*物件的顯示用class控制*/
.show
{
    display: block;
}
.hide
{
    display: none;
}
/*Container*/
/*漂浮置中對其*/
.HTMLObjectContainer
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-size: 3em;
    line-height: 3em;
    margin: auto;
    font-family: MBitmapSquareHK,sans-serif;
}
.HTMLObjectContainer *
{
    background-color:#f8f8f8e8;
}
/*對話框*/
.dialog
{
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 6em;
    max-height: 40%;
    min-width: 30%;
    overflow-y: scroll;
    bottom:0;
    left: 0;
    border-radius: 0.3em;
   
}
/*yes no 對話框*/
.yesNo
{
    z-index: 4;
    position: absolute;
    right: 0;
    max-height: 20%;
    width:15%;
    bottom:40%;
}
/*選項*/

/*非被選中的選項*/
/*左側預留空位給箭頭*/
.option
{
    line-height: 1em;
}
.option:not(.select)
{
    margin-left:0.5em; 
}
/*選項清單*/
.options
{
    position: absolute;
    right: 0;
    top:10px;
    max-height: calc(60% - 10px);
}

/*被選中的選項*/
/*css border三角形形成箭頭選取*/
.option.select::before
{
    
    content: '';
    border-style: solid;
    display:inline-block;   
    border-width: 0.3em 0 0.3em 0.5em;
    border-color: transparent transparent transparent #000;
}