@font-face {
	font-family:MBitmapSquareHK;
	src: url(../font/MBitmapSquareHK-Light.otf);
}
/*物件的顯示用class控制*/
.show
{
    display: block;
}
.hide
{
    display: none;
}
/*Container*/
/*漂浮置中對其*/
.HTMLObjectContainer
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-size: 3em;
    line-height: 2.5em;
    margin: auto;
    font-family: MBitmapSquareHK,sans-serif;
}
.HTMLObjectContainer .dialog,
.HTMLObjectContainer .options,
.HTMLObjectContainer .moneyDialog,
.HTMLObjectContainer .buySellDialog,
.HTMLObjectContainer .shoppingList,
.HTMLObjectContainer .itemNumberDialog
{
    box-sizing: border-box;
    background-color:#f8f8f8e8;
    border: 42px solid transparent;
    border-image: url("../image/PokemonBorder.png") 88 round;
}

/*覆蓋窗共通設定*/
.HTMLObjectContainer .illustrationList,.HTMLObjectContainer .illustration
{
    background-color:#f8f8f8;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top:0;
    left: 0;
}

/*對話框*/
.dialog
{

    z-index: 1;
    width: 100%;
    position: absolute;
    height: 6em;
    max-height: 50%;
    min-width: 40%;
    overflow-y: scroll;
    bottom:0;
    left: 0;
    
}

/*選項*/

/*非被選中的選項*/
/*左側預留空位給箭頭*/
.option
{
    line-height: 1em;
}
.option:not(.select)
{
    margin-left:0.5em; 
}
/*選項清單*/
.options
{
   /* overflow-y: scroll;*/
   overflow: hidden;
    border:none;
    position: absolute;
    right: 0;
    top:10px;
    max-height: calc(60% - 10px);
}
/*yes no 對話框*/
.yesNoDialog.options
{
    z-index: 4;
    position: absolute;
    right: 0;
    top:unset;
    max-height: 25%;
    min-width:15%;
    bottom:calc(50% + 10px);
}
/*money顯示框*/
.moneyDialog
{
    z-index: 1;
    max-width: calc( 50% - 20px );
    line-height: 1;
    position: absolute;
    top:10px;
    right:10px;
}
/*買賣取消顯示框*/
.buySellDialog
{
    z-index: 1;
    max-width: calc( 50% - 20px );
    position: absolute;
    top:10px;
    left:10px;
}
/*買賣清單*/
.shoppingList
{
    position: absolute;
    z-index: 2;
    right:10px;
    top : calc(10px + 3em);
    max-width: calc(70% - 10px);
    max-height: calc(60% - 3em - 40px);
}
/*商品數量*/
.itemNumberDialog 
{
    position: absolute;
    bottom:calc(50% + 10px);
    right: 10px;
    line-height: 1;
    max-width: 50%;
    z-index: 3;
}
.itemNumberDialog *
{
    display: inline-block;
}
/*被選中的選項*/
/*css border三角形形成箭頭選取*/
.option.select::before
{
    
    content: '';
    border-style: solid;
    display:inline-block;   
    border-width: 0.3em 0 0.3em 0.5em;
    border-color: transparent transparent transparent #000;
}
/*整頁覆蓋窗設定*/
.illustrationList
{
   z-index: 10;
}

.illustrationList .list
{
    position: absolute;
    max-height: calc(100% - 20px);
    left: 10px;
    top:10px;
    max-width: calc(100% - 20px);
    overflow: hidden;
    z-index: 0;
}
.illustrationList .illustrationNumbers
{                   
    position: absolute;
    font-size: 1em;
    right: 10px;
    top:10px;
    z-index: 1;
}
.illustration
{
    z-index: 11;
    text-align:center;
}
.illustration .image
{
    position: absolute;
    left: 0;
    width: 50%;
    height: 40%;
}
.illustration .basicInfo
{
    height: 40%;
}
.illustration .basicInfo .basicInfoRight
{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 50%;
}
.illustration .description
{
    height: 60%;
}