@font-face {
	font-family:MBitmapSquareHK;
	src: url(../font/MBitmapSquareHK-Light.otf);
}
.informationBar
{
	margin-top:10px;
	top:0px;
	left:0px;
	position:relative;

	font-size:24px;
    color: white;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 4px black;
    text-align: center;
    cursor: default;
	background: rgba(0, 121, 255, 0.27);
    box-shadow: 0 0 1px 1px #92c4c2;
	font-family:'Arial','·L³n¥¿¶ÂÅé';
}
.informationBar > span
{
    margin:1px 4px;
}